<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This app is created by Alok Kumar. It uses data from weatherstack and mapbox. Hope this app will prove helpful.</p>
        <img class="portrait" src="./img/IMG_20200424_170115.jpg" alt="profile.jpg">
    </div>

    {{>footer}}
</body>
</html>